@media (prefers-color-scheme: light) {
  .text_input {
		background-color: rgb(239,239,239);
  }
}

@media (prefers-color-scheme: dark) {
  .text_input {
		background-color: rgb(50,50,50);
  }
}

.main {
	padding-top: 30px;
}

.container {
	display: flex;
}

.text_input {
	display: flex;
	border: 0;
	border-radius: 1rem;
	padding: 16px;
	margin: 16px;
	width: 100%;
}